<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= site.blog_title %></title>
    <link rel="stylesheet" href="/stylesheets/blog.css" type="text/css"/>
    <link rel="alternate" href="/feed" type="application/atom+xml" title="<%= site.blog_title %>"/>
    <%- head %>
  </head>
  <body>
    <div id="body">
      <div id="header">
        <div style="float:right">
          <% if (user) { %>
          	<img src="<%= user.avatar_url %>" style=" height: 16px;" />
          	<%= user.displayName ? user.displayName: user.username %>
            <a href="/compose"><%= __("New post") %></a> -
            <a href="/logout" ><%= __("Sign out") %></a>
          <% } else { %>
            <a href="/auth/github"><%= __("Sign in") %></a> to compose/edit.
          <% } %>
          See <a href="/doc/index.md">doc</a>
        </div>
        <h1><a href="/"><%= site.blog_title %></a></h1>
      </div>
      <div id="content"><%- body %></div>
       <%- partial('partials/footer') %>
    </div>
    <%- partial(bottom) %>
  </body>
</html>
